requests==2.32.3
colorama==0.4.6
translate==3.6.1
beautifulsoup4==4.12.3
ntplib==0.4.0
tqdm==4.67.0
piexif==1.1.3
pyautogui==0.9.54
keyboard==0.13.5
configparser==7.1.0
pywin32==308

experimental==0.9.7
pygame==2.6.1
pyinstaller==6.11.1
nuitka==2.5.1
moviepy==1.0.3
plyer==2.1.0

chardet==5.2.0
