# IDE
配置文件/

# Python
.venv/
*.spec
build/

# Docs
发行版编辑.html
发行版编辑.md
各版本代码来源.md
版权留存/

# Example
Tools/开发工具/输出示例.py

# Only for me
Tools/开发工具/Script/本地/

# Test
Tools/【实验性工具】/音频处理/test/
Tools/【实验性工具】/音频处理/__pycache__
test/

# TEST Output
Tools/【实验性工具】/音频处理/output.txt
Tools/【实验性工具】/音频处理/input.txt
Csharp/

# Csharp
# .NET Core and Visual Studio Code specific
.vscode/
bin/
obj/

# Rider specific
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2019 directories which contain build results, logs, or module files
.vs/

# node / npm / JavaScript
package-lock.json
package.json
node_modules/
