requests==2.32.3
colorama==0.4.6
translate==3.6.1
beautifulsoup4==4.13.4
ntplib==0.4.0
tqdm==4.67.1
piexif==1.1.3
pyautogui==0.9.54
keyboard==0.13.5
configparser==7.2.0
pywin32==310

experimental==0.9.7
pygame==2.6.1
pyinstaller==6.13.0
nuitka==2.7.1
moviepy==2.1.2
plyer==2.1.0

chardet==5.2.0
